body{
    background-color: black;
}
.fort-search {
    width: 500px;
}

.fort-container {
    background-color: white;
    
    border-radius: 5px;
}

.fort-container:hover {
    box-shadow: 0px 0px 20px rgb(248, 247, 247);
}

.chat-icon {
    position: fixed;
    bottom: 0;
    right: 0;
}

.chat-icon:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
}

.navbar-img {
    border-radius: 50%;
}