.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header{
    background-color: black;
    
    
}
.nav1{
    background-color: black;
}
.name{
    color: aliceblue;
    margin-top: 30px;
    font-size: 60px;
    text-align: center;
}
@media (min-width: 481px) and (max-width: 767px) {
    

}


