@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    font-family: 'Poppins', Arial;
}

.img1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img3 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img4 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}