@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    font-family: 'Poppins', Arial;
    color: rgb(253, 80, 0);
}

.maratha-img {
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(245, 245, 245, 0.445);
}

.sword-img {
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(245, 245, 245, 0.445);
}

.j-sword-img {
    width: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(245, 245, 245, 0.445);
}

.b-sword-img {
    width: 200px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(245, 245, 245, 0.445);
}

.info-card {
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    margin-left: 5px;
    margin-top: 10px;
}

.card-img {
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
}

.img1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img3 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img4 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chat-icon {
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid rgb(253, 80, 0);
}

.chat-icon:hover {
    box-shadow: 0px 0px 20px rgb(253, 80, 0);
}